*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	list-style: none;
	tex-decoration: none;
	
}
a {
    text-decoration: none;
}

body{
	height: 100vh;
	background: url(Images/beg.jpeg)no-repeat;
	background-size: cover;
	background-position: center;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #fff;
	display: fixed;
	justify-content: space-between;
	align-items: center;
	padding: 0 8%;
	box-shadow: 0 5px 10px #000;
}
header .logo {
	float: left;
	font-size: 20px;
	font-weight: 900;
	color: #000;
	transition: .5s;
}
header .logo:hover {
	transform: scale(1.2);
}
header nav ul li {
	position: relative;
	float: right;
}
header nav ul li a {
	padding: 15px;
	color: #000;
	font-size: 16px;
	display: block;
}
header nav ul li a:hover {
	background: #000;
	color : #fff;
}